.rect{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-gap: 10px;
}

.rect div {
    background: #000000;
}

.rect div:nth-child(2n){
    background: #009abf;
}

.rect div:hover{
    background: #ff9f19;
}
